/* 
.err {
    margin-top: 4px;
    color: red;
} */

.create{
  display: flex;
  flex-direction: column;
  gap: 15px; 
  
  
}


.summaError ,.nameError {
    outline: none;
    border: 1px solid rgb(239, 68, 68);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    color: red;
    


  }
  .error {
   color: red;
   display: grid;


  }

  .summa  ,.name,.steps input{
      
   outline: none;
    /* border: 1px solid #000000;*/
    border-radius: 0.5rem; 
    padding: 0.5rem 2rem;
    justify-content: center;  

    
    


  }

  .spoonacularScore input
  {
    
    /* border: 1px solid #000000;*/
    border-radius: 0.5rem; 
    padding: 0.5rem 1rem;
    justify-content: center;  
  }
  .healthScore input
  {
    /* border: 1px solid #000000;*/
    border-radius: 0.5rem; 
    padding: 0.5rem 1rem;
    justify-content: center;  
  }

  .image input
  {
    /* border: 1px solid #000000;*/
    border-radius: 0.5rem; 
    padding: 0.5rem 1rem;
    justify-content: center;  
  }
   

  .diets select
  {
    /* border: 1px solid #000000;*/
    border-radius: 0.5rem; 
    justify-content: center;  
  }
   div{
     padding: 3px;
   }
   p{
    text-align: center;
  
   }


  .create button
  {
  
  border: 0.1rem solid #fffda2;
  border-radius: 0.25rem;
  color: #FF8AAE;
  background-color: #fffda2;
  margin-left: 43%;
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  height: 40px;
  width: 169px;
  cursor: pointer;
  }

  .ul {
   
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;/*le saca los puntos*/
   

}
.li{
  
  background: #F5B68B;
  color: white;
  padding: 10px;
  
  border-radius: 10px;
}