.details
{
    font-weight: 500;
    font-size: 1rem;
   
    background-color: #fffda2;
}
.detail{
    align-items: flex-start;
    flex-direction: column;
    align-items: center;

}

p{
   
    text-align: start;
 display: flow-root;
 flex-direction: row;
 padding-left: 50px;
 padding-right: 50px;
 font-weight: 400;
 font-size: 1rem;

}

.ul {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    margin-top: 1rem;
    list-style: none;/*le saca los puntos*/
    padding: 10px;


}
.li{
  
  background: #F5B68B;
  color: white;
  padding: 0 0.7rem;
 
  border-radius: 10px;
}

.datos
{
 text-align: start;
 font-weight: 700;
    font-size: 1rem;
}
.puntos{

    flex-wrap: wrap;
    justify-content: center;

}
.puntos p
{
    flex-direction: row;
    text-align: center;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    margin-top: 1rem;
    list-style: none;/*le saca los puntos*/

    font-weight: 500;
    font-size: 1rem;
    border-radius: 10px;
}
  .ul {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    margin-top: 1rem;
    list-style: none;/*le saca los puntos*/
    padding: 0%;


}
.li{
  
  background: #F5B68B;
  color: white;
  padding: 0 0.7rem;
 
  border-radius: 10px;
}