.paginado { 
  padding: 10px;
  align-items: center;
  
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;

  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;

}
.number {
  padding: 2px;
  border: 0.1rem solid #fffda2;
  border-radius: 0.25rem;
  color: #FF8AAE;
  background-color: #fffda2;
  place-items: center;
  font-size: 15px;

  
  cursor: pointer;

}
.number1 {
  padding: 2px;
  border-radius: 0.25rem;
  color: #FF8AAE;
  place-items: center;
  font-size: 15px;
  background-color: #9ADCFF;
  cursor: pointer;
}
.button {

  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;

  border: 1px soli;
}
.number:hover {
  transform: scale(1.05);
}
