
.paginado{

    display: flex;
    justify-content: center;
    align-items: center;
}
    /* display:flex;
    justify-content: center;
    align-items: flex-end;
    grid-gap: 1rem;
    gap: 1rem; */
    .table{
       display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
    padding: 2rem;

    /* position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
     */
    }
.number{
    
    padding:10px;
    border: 0.1rem solid #FFFDA2;
    border-radius: 0.25rem;
    color: #FF6363;
    background-color: #FFFDA2;
    place-items: center;
    height: 1.5rem;
    width: 1rem;



}
