
.container
{
    margin: -9px;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
    background: #FF8AAE;

}

.nav{
    max-width: 100rem;
    margin: 0 auto;
    justify-content: flex-start;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;

  
}

.link {
    text-align: center;
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
    font-weight: 700;
  }
  .link a {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
  }
  
